@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Tuple<Story,List<Comment>>
@inject SignInManager<AppUser> signInManager

@{
    Story story = Model.Item1;
    List<Comment> comments = Model.Item2;
}

<div class="row">
    <div class="col">
        <a class="btn btn-primary ms-3" asp-action="Stories">Back</a>
    </div>
    <div class="col">
        @if (User.Identity.Name == story.StoryAuthor.UserName || User.IsInRole("Admin"))
        {
            <a class="btn btn-danger float-end me-3" asp-action="DeleteStory" asp-route-storyID="@story.StoryID">Delete Post</a>
        }
    </div>
</div>

<div class="story p-3">
    <div class="row">
        <div class="col">
            <h2>@story.StoryTitle by <i>@story.StoryAuthor.UserName</i></h2>
        </div>
        <div class="col">
            <h5><b>Topic:</b> @story.StoryTopic</h5>
            <h5><b>Posted:</b> @story.StoryDate</h5>
        </div>
    </div>
    <div class="row">
        <p>@story.StoryText</p>
    </div>
</div>

<!-- comment area -->
<div class="container-fluid">
    @if (comments.Any())
    {
        @foreach (Comment c in comments)
        {
            <div class="row mx-5 mb-4">
                <div class="col-2"></div>
                <div class="col-8 comment p-2 px-">
                    <h5>@c.Author.UserName - @c.DatePosted</h5>
                    <p>@c.Content</p>
                </div>
                <div class="col-2"></div>
            </div>
        }
    }
    else
    {
        <div class="row">
            <h3>No Comments - Start the conversation!</h3>
        </div>
    }
</div>

<!-- Replies -->
<form method="post" asp-action="Comment" asp-route-storyId="@story.StoryID">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 ms-5">
            <label>Comment:</label><br/>
            <textarea name="Content" class="commentBox"></textarea>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-8"></div>
        <div class="col">
            <input class="commentSubmit btn btn-primary ms-xl-5" type="submit" value="Submit">
        </div>
    </div>
</form>